<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staterra.staterrainjectionsystem" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Current_Environmental_Status"
            android:label="@string/title_activity_current__environmental__status" >
        </activity>
        <activity
            android:name=".Data_Exportation"
            android:label="@string/title_activity_data__exportation" >
        </activity>
    </application>

</manifest>
