<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.staterra.staterrainjectionsystem" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".MyBlueTooth" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SystemConfiguration"
            android:label="@string/title_activity_system_configuration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DataExportation"
            android:label="@string/title_activity_data__exportation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SystemStatus"
            android:label="@string/title_activity_system__status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DownloadingData"
            android:label="@string/title_activity_downloading_data"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
